body{
    font-family: 'Poppins', sans-serif;
}
/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* banner-section begin */

  .header-section{
    background-color: blanchedalmond;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.banner-text{
    display: flex;
    flex-direction: column;
}
  .banner-img{
    width: 100%;
  }
  .orange-text{
    color: orangered;
  }
  .explore-btn{
    text-decoration: none;
    padding: 15px;
    color: azure;
    background-color: orangered;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    width: 150px;
  }
  .explore-btn:hover{
    background-color: crimson;
    color: white;
  }

  /* banner-section end */
/* ######################### */
  /* service section begin */
.service-section{
    width: 100%;
    margin: 20px auto;
}
.service-section h2{
    text-align: center;
    font-size: 40px;
}
.service-boxes{
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}
.service-box{
    background-color: bisque;
    border: 1px solid beige;
    border-radius: 5px;
    width: 30%;
    display: flex;
    align-items: center;
}
.service-icon{
    width: 100px;
    height: 100px;
    padding: 20px;
}
.service-text{
    padding: 15px;
    width: 70%;
    align-items: center;
}
.service-text p{
    color: darkgrey;
}
/* service section End */
/* laptop section start */
.laptop-section h2{
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.laptops{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.laptop{
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);  width: 20%;
  height: 450px;
  border-radius: 15px;
}
.laptop-image{
  height: 250px;
}
.laptop-image img{
  padding: 20px;
  width: 100%;
  height: 100%;
}
.laptop-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 200px;
}
.buy-btn{
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin-top: 5px;
}
/* laptop section end */
/* Phone section start */
.phone-section h2{
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-bottom: 50px;
}
.phones{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.phone{
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);  width: 20%;
  height: 450px;
  border-radius: 15px;
 
}
.phone-image{
  height: 250px;
}
.phone-image img{
  padding: 20px;
  width: 100%;
  height: 100%;
}
.phone-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 200px;
}
/* phone section end */
/* footer section start */
footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-top: 40px;
}

footer h1{
  color: white;
}

/* footer section end */